<launch>
  <arg name="abb_irc5_uri" default="http://192.168.1.1/"/>
  <arg name="abb_irc5_rapid_auto_stop" default="true"/>

  <node name="abb_irc5_rapid_driver" pkg="rpi_abb_irc5" type="abb_irc5_rapid_driver_ros" required="true">
    <param name="abb_irc5_uri" value="$(arg abb_irc5_uri)"/>
    <param name="abb_irc5_rapid_auto_stop" value="$(arg abb_irc5_rapid_auto_stop)"/>
  </node>  
</launch>
